* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.containerproje{
    position: relative;
}

.containerproje .slide-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}

/*titulo dentro da imagem*/
.containerproje .slide-container .slide .contentproje h3{
    margin-top: 10rem;
    font-size: 35px;
    color:  #8dc9fa;
    font-family: 'Poppins', sans-serif;
}
/*PONTO E VÍRGULA DENTRO DA IMAGEM*/
.contentproje h3 span{
    color: #8dc9fa;
    font-size: 35px; 
}

/*texto dentro da imagem*/
.containerproje .slide-container .slide .contentproje p{
    margin-top: 3rem;
    font-size: 20px;
    color: #464545;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    height: 10%;

}
/*buttom config*/
.containerproje .slide-container .slide .contentproje .bntproj{
    margin-top: 20px;
    display: inline-block;
    background: #8dc9fa;
    color: #ffffff;
    font-size: 17px;
    padding: 15px 40px;
    border-radius: 30px;
    border: 2px solid  #8dc9fa;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
    background: #8dc9fa;
    border: 2px solid #92d1ee;
    color: #ffffff;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}
/*imagens e carrosel config*/
.containerproje .slide-container:nth-child(1) .slide{
    background: url(../img/18.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 20vh;
}

.containerproje .slide-container:nth-child(2) .slide{
    background: url(../img/corpo.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 20vh;
}

.containerproje .slide-container:nth-child(3) .slide{
    background: url(../img/2.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 20vh;
}
/*imagens e carrosel config*/
.containerproje #prev, 
.containerproje #next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
    background: #fdaaef;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}
/*cor do botão de antes e depois*/
.containerproje #prev:hover, 
.containerproje #next:hover{
    background: #8dc9fa;
}
.containerproje #prev{
    left: 20px;
}

.containerproje #next{
    right: 20px;
}



@media(max-width: 500px){
    .containerproje #prev{
        left: 0px;
        top: 60%;
    }

    .containerproje #next{
        right: 0px;
        top: 60%;
    }


    .containerproje .slide-container .slide .contentproje p{
        font-size: 16px;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        width: 70%;
        height: 10%;
    
    }
}

/*cabeçalho config
/*estilo geral*/
body {
   background-color: #ffffff;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.conteudo-galeria h3{
    color: #e48ff5;
    padding: 5px ;
    
}


/*cabeçalho style*/
/*cabeçalho style*/
/*cabeçalho style*/
/*cabeçalho style*/

    header {
        padding: 2px 8%;
        position: fixed; /* Adicione esta linha */
        width: 100%; /* Adicione esta linha para ocupar a largura total da tela */
        background-image: linear-gradient(45deg, #f2daf7,#f0f6fa);/* Adicione esta linha para garantir que o cabeçalho seja visível */
        z-index: 1000;  

}
header {
    padding: 2px 8%;
    position: fixed; /* Adicione esta linha */
    width: 100%; /* Adicione esta linha para ocupar a largura total da tela */
    background-image: linear-gradient(45deg, #f2daf7,#f0f6fa);/* Adicione esta linha para garantir que o cabeçalho seja visível */
    z-index: 1000;      
}

header>.interface {
display: flex;
align-items: center;
justify-content: space-between;
}

header a {
color: #000000;
text-decoration: none;
display: inline-block;
transition: 0.2s;
}

header {
    padding: 2px 8%;
    position: fixed; /* Adicione esta linha */
    width: 100%; /* Adicione esta linha para ocupar a largura total da tela */
    background-image: linear-gradient(45deg, #f2daf7,#f0f6fa);/* Adicione esta linha para garantir que o cabeçalho seja visível */
    z-index: 1000;      
}

header>.interface {
display: flex;
align-items: center;
justify-content: space-between;
}

header a {
color: #000000;
text-decoration: none;
display: inline-block;
transition: 0.2s;
}


header nav ul {
list-style: none;
font-size: 15px;
}

header nav li {
display: inline-block;
padding: 0 25px;
}

header .btn-contato button{
    padding: 10px 8px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    background-color: #fdaaef;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 0px;
    
}


    /* Faz com que o botão apareça na direita 
    margin-left: auto;
    margin-top: 1em;  */


header .button{
    /* Faz com que o botão apareça na direita */
    margin-left: auto;
    margin-top: 1em;
    padding: 10rem;
    padding-right: 10vh;
}

header a:hover {
    color:#8dc9fa;
    transform: scale(1.09);
}


header .btn-contato button:hover {
    box-shadow: 0px 0px 5px rgb(241, 155, 234);

}/*cabeçalho style*/
/*cabeçalho style*/


/*CONFIG TAG H3*/
h2.titulo{
    color: #fdaaef;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
  color: #8dc9fa;
}
h2{
    color: rgb(248, 245, 245);
    font-size: 38px;
    margin-top: 25px;

}/*CONFIG TAG H2*/
/*CONFIG TAG H2*/



/*BOTÃO DO GRID*/
.btn-primary{
    margin-top: 8px;
    font-size: 15px;
    border-radius: 35px;
    border: none;
    background-color: #8dc9fa;
    display: inline-block;
    border: solid 1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px 15px;
    cursor: pointer;

}

.btn-primary:hover{
    transform: scale(1.09);
    transition: 0.2s;
    
}

/*fundo da págia*/
.sobre-img img{
    background-repeat: no-repeat;
    width: 60vh;
    height: 45vh;
    border: solid 25px #d8e4ee;
}

.sobre p{
    color: #e9b8e9;
    font-size: 20px;
    margin-top: 8px;
}

.sobre h3{
    color: #a0a8eb;
    font-size: 40px;
}
.sobre p h3{
    margin-left: 50px;
}

.background-image{
    margin-top: 32%;

}


